@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
}

/* Section 1 CSS */

.Section1class {
    background-image: linear-gradient(to left bottom, #078d70, #26ceaa, #efefff, #5049cb, #3e1a78);
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.content {
    text-align: left;
    color: white;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    line-height: 0.5;
    margin-left: 5%;
}

/* Socials */
.social-icons {
    display: flex;
    flex-direction:row;
    justify-content: left;
    margin-left: 10%;

}

.social-icons a {
    margin: 0 5px;
    text-decoration: none;
    display: flex;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.profilesection1 {
    width: 400px;
    height: 400px;
    background-image: url("images/jake-pfp.png");
    background-size: cover;
    margin: 20px;
    position:absolute;
    right: 150px;
    
}


/*@media (max-width: 600px) { } */

/* Section 2 */

.Section2class {
background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profilesection2 {
    width: 600px;
    height: 600px;
    background-image: url("images/jake-pfp-noborder.png");
    background-size: cover;
    margin: 20px;
    margin-left: 0;
    margin-right: auto;
    margin-left: 60px;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}


  @import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

.AboutMePanel {
    font-family: 'Rakkas', cursive;
    font-size: 23px;
    margin-right: 200px;
    margin-left: 200px;
    position: static;
    color: white;
}

.AboutMeTitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    /*left: 50%;*/
    margin-left:58%;
    
    position: absolute;
    color: white;
    transform: translateY(-280px);
}

.AboutMePanel a {
    color: #00B6AD;
    text-decoration: none;
}


