@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* NAV BAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33333300;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #3333335c;
  }
    li a:hover:not(.active) {
    background-color: #ff00005c;
}

  html {
  scroll-behavior: smooth;
}

/* NAV BAR */

body {
    margin: 0;
    padding: 0;
}

/* Section 1 CSS */

.Section1class {
    background-image: linear-gradient(to left bottom, #078d70, #26ceaa, #efefff, #5049cb, #3e1a78);
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.content {
    text-align: left;
    color: white;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    line-height: 0.5;
    margin-left: 5%;
}

/* Socials */
.social-icons {
    display: flex;
    flex-direction:row;
    justify-content: left;
    margin-left: 10%;

}

.social-icons a {
    margin: 0 5px;
    text-decoration: none;
    display: flex;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.profilesection1 {
    width: 400px;
    height: 400px;
    background-image: url("images/jake-pfp.png");
    background-size: cover;
    margin: 20px;
    position:absolute;
    right: 150px;
    
}


/*@media (max-width: 600px) { } */

/* Section 2 */

.Section2class {
    background-image: linear-gradient(to left bottom, #254654, #354A54);
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

    
