body {
    display: flex;
    margin: 0;
    padding: 0;
}

.left-half {
    background-color: darkmagenta;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('font/BebasNeue-Regular.ttf') format('truetype');
}

.content {
    text-align: center;
    color: white;
    margin-bottom: 0; /* Remove any vertical margin */
    font-family: 'BebasNeue', sans-serif;
    font-size: 40px; /* Change this value to adjust the text size */
    line-height: 0.5; /* Adjust this value to reduce the line height */
}

.right-half {
    height: 100vh;
    width: 50%;
    position: relative;
}

.background-image {
    height: 100%;
    width: 100%;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-image: url("images/jake-pfp.png");
    background-size: cover;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.button-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.toggle-button {
    width: 40px;
    height: 40px;
    background-color: #33333300;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    display: none;
    animation: slideDown 0.3s ease-in;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 0;
    text-align: center;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #666;
}

@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 600px) {
    /* CSS for smaller screens or mobile devices */
    .left-half {
        flex-direction: column;
        align-items: center;
    }
    .content {
        margin-top: 20px;
        text-align: center;
    }

    .content {
    text-align: center;
    color: white;
    margin-bottom: 0; /* Remove any vertical margin */
    font-family: 'BebasNeue', sans-serif;
    font-size: 20px; /* Change this value to adjust the text size */
    line-height: 0.5; /* Adjust this value to reduce the line height */
}
.left-half {
    background-color: darkmagenta;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-half {
display: none;
}
}