<div style="width: 100%; justify-content: center; display: flex;">

<h3 class="mWTitle">My Work</h3>

</div>
<div class="mWMainContainer">


    <div class="mWItem">
        <p>Skade Gaming’s Lovejoy Concert</p>
        <div class="mWItemImgContainer"><img src="/assets/img/image.png"></div>
        <a href="https://skadegaming.com/">Photo taken on Skade Gaming's Survival Server</a>
    </div>

    <div class="mWItem">
        <p></p>
        <div class="mWItemImgContainer"><img src="/assets/img/mcparks1.png"></div>
        <a href="https://mcparks.us/">Photo taken on MCParks</a>
    </div>

    <div class="mWItem">
        <p></p>
        <div class="mWItemImgContainer"><img src="/assets/img/mcparks2.png"></div>
        <a href="https://mcparks.us/">Photo taken on MCParks</a>
    </div>

        <div class="mWItem">
        <p>Skade Gaming’s Xmas Event</p>
        <div class="mWItemImgContainer"><img src="/assets/img/sgimage2.png"></div>
        <a href="https://skadegaming.com/">Photo taken on Skade Gaming's Survival Server</a>
    </div>

</div>
