:root[data-theme='light'] {
    --Text:#051014;
    --Background:#F3F9FC;
    --Primary:#28b7eb;
    --Secondary:#bfebf8;
    --Accent:#4B7A8B;
    
}

:root[data-theme='dark'] {

  --Text:#F3F9FC;
  --Background:#051014;
  --Primary:#28b7eb;
  --Secondary: 03161c;
  --Accent:#a2c2cd;
}

/* Norse */
@font-face {
    font-family: 'Norse'; 
    src: url('./Norse-Bold.otf') format('truetype');
  }

  /* Roboto Mono */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
    /* Inter */
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  .centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }