.fade-item {
    animation: rainbow 2s infinite, move 3s infinite;
  }
  
@keyframes rainbow{
  0%{
    background-color: red;
  }
  20%{
    background-color: orange;
  }
  40%{
    background-color: yellow;
  }
  60%{
    background-color: green;

  }
  80%{
    background-color: blue;

  }
  100%{
    background-color: purple;
  }
}

@keyframes move{
  0%{
    transform: scale(1) skew(0deg, 0deg);
  }
  50%{
    transform: scale(0) skew(90deg, 90deg)
  }
  100%{
    transform: scale(1) skew(180deg, 180deg);
  }
}

html{
  background-color: grey;
}