
.sidebar {
    position: fixed;
    width: 626px;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #151923;
    }
    
    
    .jaketext {
      position: absolute;
      width: 296px;
      height: 87px;
      left: 54px;
      top: 79px;
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 116px;
      
      color: #F4F8F2;
    }
    
    .aboutme {
      position: absolute;
      width: 573px;
      height: 116px;
      left: 23px;
      top: 259px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #F4F8F2;      
    
    color: #F4F8F2;
    
    }
    .portfolopavatar{
      position: absolute;
      width: 236px;
      height: 224px;
      left: 370px;
      top: 20px;
    border-radius: 50%;
    }

  


.SkadeGamingLogo{
position: absolute;
width: 100px;
height: 100px;
left: 1295px;
top: 48px;
}

.SkadeGamingText{
  position: absolute;
width: 608px;
height: 190px;
left: 693px;
top: 150px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;
}

.SkadeGamingTitle{
  position: absolute;
width: 86px;
height: 39px;
left: 1065px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: right;

color: #000000;
}
