#Nav_Tools{background-color: var(--Colour-Purple);}

.fancy {
    font-family: 'Times New Roman', cursive;
      }
      
    .fancy-bold {
    font-family: 'Arial Black', Gadget, sans-serif;
      }
      
    .double {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
      }
      
    .smallcaps {
    font-family: 'Arial', sans-serif;
    font-variant: small-caps;
      }    
html{
    background-color: var(--Background);
}

    .title{  
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--Text);
      font-size: 20px;
      text-shadow: -2px 2px 1px var(--Colour-Purple-Darker);
    }
    
    .ContainerForContainers {
      display: flex;
    }
    
    .Right-container,
    .Left-container {
flex:1
    }
    
    .InputTextClass,
    .OutputTextClass {
      border-radius: 10px;
      width: 70vh;
      height: 60vh;
      overflow: auto;
      resize: none;
      word-wrap: break-word;
      background-color: white;
      font-size: 30px;
      text-align: left;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .StyleButtonsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
    }
    
    .StyleButton {
      margin: 5px;
      border: none;
      background-color: var(--Colour-Purple);
      color: var(--Text);
      font-size: 14px;
      cursor: pointer;
      width: 100px;
      height: 50px;
      box-shadow: 5px 5px var(--Colour-Purple-Darker);
      transition: background-color 0.3s, box-shadow 0.3s;

    }

    .StyleButton:hover{
        background-color: var(--Colour-Purple-Darker);
        box-shadow: 0px 0px var(--Colour-Purple-Darker);
    }

    .ActiveStyleButton {
        background-color: var(--Colour-Green-Darker) !important;
        box-shadow: 0px 0px var(--Colour-Green-Darker) !important;
    }
    
    .Label2{
        font-size: 16px;
        color: var(--Text);
    }