@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root[data-theme="light"] {
    --text: #050505;
    --background: #fafafa;
    --primary: #964bd8;
    --secondary: #e6d5f6;
    --accent: #852dd2;
}

:root[data-theme="dark"] {
    --text: #fafafa;
    --background: #050505;
    --primary: #964bd8;
    --secondary: #1a092a;
    --accent: #b681e4;
}

html {
    background-color: var(--background);
    color: var(--text);
}

body,html{
    margin: 0px;
    padding: 0px;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
}

.Title img {
    width: 100%;
    height: auto;
    pointer-events: none;
    object-fit: cover;
    margin-top: 0px;
    padding-top: 0px;
}

.Title h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 10vw;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 100%;
    max-height: 1000px;
    margin: 0 auto;
    text-align: center;
}
button {
    font-size: 20px;
    margin: 5px;
    padding: 5px 10px;
    border-color: #00000000;
    border-radius: 5px; /* Optional: Add some border radius for a more rounded look */
    transition: background-color 0.3s, opacity 0.3s;
    color: var(--text);
    background-color: #00000000;
    font-family: 'Montserrat', sans-serif;
}

button.active {
    background-color: var(--primary); 
    color: #fff;
}

button:hover {
    background-color: var(--secondary);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    pointer-events: none;
}

.image {
    padding: 7px;
    max-width: 100%;
    max-height: 300px;
    margin: 5px;
    transition: opacity 0.3s, transform 0.3s;
}

