<div class="Footer">
        <div class="NavSection" style="margin-left: 1vw;">
        <span class="NavItemNoFade">Jakeplays12 &copy; 2024</span>
        </div>

        <div class="NavSection FAWeight" style="margin-left: auto; margin-right: 5vw;">
        <a target=”_blank” href="https://github.com/Jakeplays12"><i class="NavItem fa-brands fa-github"></i></a>
        <a target=”_blank” href="https://www.instagram.com/jplays_12/"><i class="NavItem fa-brands fa-instagram"></i></a>
        <a target=”_blank” href="https://www.threads.net/@jplays_12"><i class="NavItem fa-brands fa-threads"></i></a>
        <a target=”_blank” href="https://www.tiktok.com/@jakeplays_12"><i class="NavItem fa-brands fa-tiktok"></i></a>
        <a target=”_blank” href="https://www.youtube.com/channel/UC2dh_DhAFeVl-3iNrnmZpew"><i class="NavItem fa-brands fa-youtube"></i></a>
        <a target=”_blank” href="mailto:jakeplays12business@gmail.com"><i class="NavItem fa-solid fa-envelope"></i></a>

        </div>
</div>
