<div class="Header">
    <div class="NavSection" style="margin: 0 auto 0 10px;">
        <img src="/assets/img/pfp.png">
        <span class="NavItemNoFade">Jakeplays12</span>
    </div>

    
    <div class="NavSection" style="margin-right: 1vw;">

    <a id="Nav_Home" class="NavItem" href="/"><span>Home</span></a>
    <a id="Nav_About-Me" class="NavItem" href="#"><span>About Me</span></a>
    <a id="Nac_Portfolio" class="NavItem" href="#"><span>Portfolio</span></a>
    <a id="Nav_Tools" class="NavItem" href="/tools/"><span>Tools</span></a>
    <a id="Nav_Links" class="NavItem" href="/links/"><span>Links</span></a>
    </div>
    </div>