---
layout: layout/main.njk
---
<div class="PageContent" >

    <link rel="stylesheet" href="/assets/css/blog.css" />

    <div class="Data">

<div class="Sidebar">
    <div class="SideBarContents">

<div class="SideBarDivIGuess">
<h3>Minecraft</h3>
</div>

<div class="SideBarDivIGuess" id="ModsIUse"><a href="/blog/mcmods/"><li>Mods I use</li></a></div>
<div class="SideBarDivIGuess" id="Shaders"><a href="/blog/shaders/"><li>Shaders</li></a></div>


<div class="SideBarDivIGuess">
<h3>Resource packs</h3>
</div>

<div class="SideBarDivIGuess" id="RP-Pride"><a href="/blog/resourcepacks/pridelogos/"><li>Pride</li></a></div>


<div class="SideBarDivIGuess">
    <h3>Tech</h3>
    </div>

    <div class="SideBarDivIGuess" id="HTMLTags"><a href="/blog/htmltags/"><li>HTML Tags</li></a></div>

</div>
</div><div class="BlogContent">
    
    {{ content | safe }}


</div>
    </div>
</div>

